<h2>Addon</h2>
<p>
  Generates a new folder structure for building an addon, complete with test harness.
</p>
<p>
  <label>Dry Run:</label>
  <Input @type="checkbox" {{on 'click' this.toggleDryRun}}/>
</p>

<p>
  <label>Verbose:</label>
  <Input @type="checkbox" {{on 'click' this.toggleVerbose}}/>
</p>
<p>
  <label>Skip npm:</label>
  <Input @type="checkbox" {{on 'click' this.toggleSkipNpm}}/>
</p>
<p>
  <label>Skip git:</label>
  <Input @type="checkbox" {{on 'click' this.toggleSkipGit}}/>
</p>
<p>
  <label>Skip bower:</label>
  <Input @type="checkbox" {{on 'click' this.toggleSkipBower}}/>
</p>
<p>
  <label>Yarn:</label>
  <Input @type="checkbox" {{on 'click' this.toggleYarn}}/>
</p>